<div class="conffile{{conffile.id}}">
<tr>
                      <td>{{conffile.name}}&nbsp;&nbsp;<a href="/editconffile/{{env.id}}/{{prod.id}}/{{conffile.id}}"><input type="button" class="btn btn-mini" value="重传" /></a><a href="/delconffile/{{env.id}}/{{prod.id}}/{{conffile.id}}"><input type="button" class="btn btn-mini" value="删" onclick="if(confirm('您确定要删除吗?')==false) return false;" /></a></td>
                      <td>{{conffile.time}}</td>
                      <td><a href="/viewconffile/{{env.id}}/{{prod.id}}/{{conffile.id}}">查看</a></td>
                    </tr>
</div>