<div class="prod{{prod.id}}">
<tr>
                      <td>{{prod.name}}&nbsp;&nbsp;<a href="/editprod/{{env.id}}/{{prod.id}}"><input type="button" class="btn btn-mini" value="改" /></a><a href="/delprod/{{env.id}}/{{prod.id}}"><input type="button" class="btn btn-mini" value="删" /></a></td>
                      <td><a href="/conf/{{env.id}}/{{prod.id}}">配置</a></td>
                      <td><a href="/conffile/{{env.id}}/{{prod.id}}">配置文件</a></td>
                      <td><a href="#">版本管理</a></td>
                    </tr>
</div>