{% extends "pagebase.html" %}
{% block autopub %}class="active"{% end %}
{% block left %}
<ul class="nav nav-list well">
<li>
<h5>当前位置：</h5><br>
&nbsp;&nbsp;{{env.name}}环境<br>
&nbsp;&nbsp;>{{prod.name}}_配置<br>
<br>
<p><a href="/env/{{env.id}}">返回</a></p>
</li>
</ul>

{% end %}
{% block content %}

<form action="/conf/{{env.id}}/{{prod.id}}" method="post">
{% module xsrf_form_html() %} 
<fieldset>
<label>规则(ansible-playbook)</label>
<textarea class="form-control" name="rules" placeholder="请输入规则" rows="8" cols="100" style="margin: 0px 0px 10px; width: 800px; height: 160px;">{{conf.rules}}</textarea> 
<p>版本文件使用\{\{bag\}\}引用.</p>
{% if len(conffiles) != 0 %}
<p>可引用的配置文件:</p>
<ul>
{% for conffile in conffiles %}
<li>{{conffile.file}}</li>
{% end %}
</ul>
{% end %}
<br>
<label>主机（组）</label>
<textarea class="form-control" name="hosts" placeholder="请输入主机（组）" rows="6" cols="50" style="margin: 0px 0px 10px; width: 800px; height: 160px;">{{conf.hosts}}</textarea> 
<label>定时任务</label> 
<select name="time" >
<option value=1 {% if conf.time ==1 %}selected{% end %}>开启
<option value=0 {% if conf.time ==0 %}selected{% end %}>不开启
</select>
<br>
<br>
分：<input type="text" name="min" value="{{conf.min}}" /><br>
时：<input type="text" name="hour" value="{{conf.hour}}"/><br>
日：<input type="text" name="day" value="{{conf.day}}" /><br>
月：<input type="text" name="mon" value="{{conf.mon}}" /><br>
周：<input type="text" name="week" value="{{conf.week}}" /><br>
<button class="btn btn-primary"  type="submit">保存</button>
<button class="btn" >取消</button></fieldset>
</form>
{% end %}