{% extends "pagebase.html" %}
{% block autopub %}class="active"{% end %}

{% block content %}
<form action="/newver/{{env_id}}/{{prod_id}}" enctype="multipart/form-data" method="post">
{% module xsrf_form_html() %} 
<fieldset>
<label>主版本号</label> 
<input type="number" name="major" />
<label>次版本号</label> 
<input type="number" name="minor" />
<label>修订版本号</label> 
<input type="number" name="revison" />
<label>文件上传</label> 
<input type="file" name="file" />
<br>
<button class="btn btn-primary"  type="submit">保存</button>
<a href="/ver/{{env_id}}/{{prod_id}}/0" ><input type="button" class="btn" value="取消" /></a></fieldset>
</form>
{% end %}