{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		{% block header %}{% end %}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
				<li {% block home %}{% end %}>
					<a href="/dashboard">首页</a>
				</li>
				<li {% block autopub %}{% end %}>
					<a href="/autopub">自动化发布</a>
				</li>
				<li>
					<a href="#">待开发</a>
				</li>
				<li class="pull-right "><a href="/logout">退出 </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2">
		{% block left %}{% end %}
		</div>
		<div class="span8">
		{% block content %}{% end %}
			
		</div>
		<div class="spa2">
		{% block right %}{% end %}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
		{% block footer %}{% end %}
		</div>
	</div>
</div>
{% end %}