{% extends "pagebase.html" %}
{% block autopub %}class="active"{% end %}
{% block left %}
<ul class="nav nav-list well">
<li>
<h5>当前位置：</h5><br>
&nbsp;&nbsp;{{env.name}}环境<br>
&nbsp;&nbsp;>{{prod.name}}_日志

</li>
<br>
<p><a href="/conf/{{env.id}}/{{prod.id}}" >转到配置</a></p>
<p><a href="/conffile/{{env.id}}/{{prod.id}}" >转到配置文件</a></p>
<p><a href="/ver/{{env.id}}/{{prod.id}}/0" >转到版本管理</a></p>
<br>
<p><a href="/env/{{env.id}}/0">返回</a></p>
</ul>

{% end %}
{% block content %}

<ol>
{% for publog in publogs %}
<li>{{publog.user}}用户在{{publog.time}}{{publog.log}} <a href="/viewpublog/{{env.id}}/{{prod.id}}/{{publog.id}}">查看日志</a></li><br>
{% end %}
</ol>

{% end %}