{% extends "pagebase.html" %}
{% block autopub %}class="active"{% end %}
{% block left %}
<ul class="nav nav-list well">
<li>
<h5>当前位置：</h5><br>
&nbsp;&nbsp;{{env.name}}环境<br>
&nbsp;&nbsp;>{{prod.name}}_版本管理

</li>
<br>
<li>
<a href="/newver/{{env.id}}/{{prod.id}}" ><input type="button" class="btn btn-small btn-primary" value="新增版本" /></a>
</li>
<li>
<a href="/importver/{{env.id}}/{{prod.id}}" ><input type="button" class="btn btn-small btn-primary" value="导入版本" /></a>
</li>
<br>
<p><a href="/conf/{{env.id}}/{{prod.id}}" >转到配置</a></p>
<p><a href="/conffile/{{env.id}}/{{prod.id}}" >转到配置文件</a></p>
<p><a href="/publog/{{env.id}}/{{prod.id}}" >转到手动日志</a></p>
<p><a href="/cronlog/{{env.id}}/{{prod.id}}" >转到定时日志</a></p>
<br>
<p><a href="/env/{{env.id}}/0">返回</a></p>
</ul>

{% end %}
{% block content %}
<div>
主版本：<br>
<a href="/ver/{{env.id}}/{{prod.id}}/0" ><span class="label badge-info">全部</span></a>
{% for maj in majs %}
<a href="/ver/{{env.id}}/{{prod.id}}/{{maj}}" ><span class="label badge-info">{{maj}}</span></a>
{% end %}
<br>
<br>
</div>

<table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>版本名称</th>
                      <th>建立时间</th>
                      <th>修改时间</th>
                      <th>文件</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for ver in vers %}
					{% module Ver(prod,env,ver) %}
				  {% end %}
                  </tbody>
</table>
{% end %}