{% extends 'config.html' %}
{% block configedit_act %}class="active"{% endblock%}
{% block content %}
<form method="POST" action="/configure_edit/{{id}}">
				<fieldset>
					 <legend>配置编辑</legend>
					 <label>配置名称</label> 
					 <span hidden>{{form.con_name}}</span>
					 {{form.con_name.value}}
					 <br>
					 <label>配置内容</label>
					 {{form.con_filecontent}}
					 <br>
					 <button type="submit" class="btn btn-primary">保存</button>
					 <button type="button" class="btn" onclick="location='{% url 'configure' %}' ">返回</button>
				</fieldset>
			</form>
{% endblock%}				
