{% extends 'base.html' %}
{% block config_act %}class="active"{% endblock%}
{% block nav %}
<ul class="nav nav-pills">
				<li {% block configedit_act %}{% endblock%}>
					<a href="{% url 'server_configure' %}">服务器配置</a>
				</li>
				<li {% block configaction_act %}{% endblock%}>
					<a href="{% url 'group_configure' %}">服务器组配置</a>
				</li>
				<li {% block configgroupaction_act %}{% endblock%}>
					<a href="#">配置使用文件</a>
				</li>
			</ul> 
{% block content %}
{% endblock%}	
{% endblock %}			
