{% extends 'config.html' %}
{% block configedit_act %}class="active"{% endblock%}
{% block content %}
<legend>配置 <button class="btn btn-primary btn-mini" type="button" onclick="location='{% url 'configure_upload' %}' ">上传</button> <button class="btn btn-primary btn-mini" type="button" onclick="location='{% url 'configure_new' %}' ">新建</button></legend>
			<table class="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							配置名称
						</th>
						<th>
							配置时间
						</th>
						<th>
							文件
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				{% for configure in configure_list %}
					<tr class="success">
						<td>
							{{configure.id}}
						</td>
						<td>
							{{configure.con_name}}
						</td>
						<td>
							{{configure.con_time|date:"Y-m-d H:i:s"}}
						</td>
						<td>
							{{configure.con_path}}
						</td>
						<td>
							<button class="btn btn-primary btn-mini" type="button">编辑</button><button class="btn btn-primary btn-mini" type="button" onclick="location='/configure_del/{{configure.id}}'">删除</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<div class="pagination pagination-centered pagination-small">
				<ul>
				{% if configure_list.has_previous %}
					<li>
						<a href="?page={{configure_list.previous_page_number}}">上一页</a>
					</li>
				{% endif %}
					<li>
						<a href="#">第{{configure_list.number}}页 总共{{configure_list.paginator.num_pages}}页</a>
					</li>
				{% if configure_list.has_next %}
					<li>
						<a href="?page={{configure_list.next_page_number}}">下一页</a>
					</li>
				{% endif %}
				</ul>
			</div>
{% endblock%}				
