{% extends 'config.html' %}
{% block configaction_act %}class="active"{% endblock%}
{% block content %}
 <legend>{{group.g_name}}的配置管理
 <button class="btn btn-primary btn-mini" type="button" onclick="location='/group_configure_new/{{group.id}}'">新建</button>
 <button class="btn btn-mini" type="button" onclick="location='{% url 'group_configure' %}'">返回</button></legend>
			<table class="table">
				<thead>
					<tr>
						<th>
							配置名称
						</th>
						<th>
							编辑时间
						</th>
						<th>
							文件
						</th>
						<th>
							状态
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				{% for group_configure in group_configure_list %}
					<tr class="success">
						<td>
							{{group_configure.gro_name}}
						</td>
						<td>
							{{group_configure.gro_time|date:"Y-n-d H:i:s"}}
						</td>
						<td>
							{{group_configure.gro_path| truncatechars:"20"}}<a href="{{down_path}}{{group_configure.gro_path|cut:upload_path}}" >下载</a>
						</td>
						<td>
							{{group_configure.gro_status}}
						</td>
						<td>
							<button class="btn btn-primary btn-mini" type="button" onclick="location='/group_configure_edit/{{group_configure.id}}'">编辑</button>
							<button class="btn btn-primary btn-mini" type="button" onclick="location='/group_configure_del/{{group_configure.id}}'">删除</button>
							<button class="btn btn-primary btn-mini" type="button" onclick="location='/group_configure_action/{{group_configure.id}}'">执行</button>
							<button class="btn btn-primary btn-mini" type="button">定时任务</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="pagination pagination-centered pagination-small">
				<ul>
				{% if group_configure_list.has_previous %}
					<li>
						<a href="?page={{group_configure_list.previous_page_number}}">上一页</a>
					</li>
				{% endif %}
					<li>
						<a href="#">第{{group_configure_list.number}}页 总共{{group_configure_list.paginator.num_pages}}页</a>
					</li>
				{% if group_configure_list.has_next %}
					<li>
						<a href="?page={{group_configure_list.next_page_number}}">下一页</a>
					</li>
				{% endif %}
				</ul>
			</div>
{% endblock %}