{% extends 'infra.html' %}
{% block group_act %}class="active"{% endblock%}
{% block content %}
 <button class="btn btn-primary btn-block" type="button" onclick="location='{% url 'group_add' %}' ">增加服务器组</button>
			<table class="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							组名称
						</th>
						<th>
							组描述
						</th>
						<th>
							组成员
						</th>
					</tr>
				</thead>
				<tbody>
				{% for group in group_list %}
					<tr class="success">
						<td>
							{{group.id}}
						</td>
						<td>
							{{group.g_name}}
						</td>
						<td>
							{{group.g_desc}}
						</td>
						<td>
							{% for server in group.server_set.all %}
							{{server.s_ip}},
							{% endfor %}
						</td>
						<td>
							 <button class="btn btn-primary btn-mini" type="button" onclick="location='/group_edit/{{group.id}}'">更新</button> <button class="btn btn-primary btn-mini" type="button" onclick="location='/group_del/{{group.id}}'">删除</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="pagination pagination-centered pagination-small">
				<ul>
				{% if group_list.has_previous %}
					<li>
						<a href="?page={{group_list.previous_page_number}}">上一页</a>
					</li>
				{% endif %}
					<li>
						<a href="#">第{{group_list.number}}页 总共{{group_list.paginator.num_pages}}页</a>
					</li>
				{% if group_list.has_next %}
					<li>
						<a href="?page={{group_list.next_page_number}}">下一页</a>
					</li>
				{% endif %}
				</ul>
			</div>
{% endblock%}				
