{% extends 'infra.html' %}
{% block group_act %}class="active"{% endblock%}
{% block content %}
			<form action="{% url 'group_add' %}" method="POST">
			{% csrf_token %}
				<fieldset>
					 <legend>服务器组编辑</legend> 
					 <label>服务器组名称</label>{{form.g_name}}{{form.g_name.errors}}<br>
					  <label>服务器组描述</label>{{form.g_desc}}{{form.g_desc.errors}}<br>
					   <button type="submit" class="btn btn-primary">提交</button> <button type="button" class="btn" onclick="location='{% url 'group' %}' ">返回</button>
				</fieldset>
			</form>
{% endblock %}
