{% extends 'monitor.html' %}
{% block head %}
<script src="//cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/highcharts/4.1.9/highcharts.js"></script>
<script src="//cdn.bootcss.com/highcharts/4.1.9/modules/exporting.js"></script>
{% if type == 'load' and x %}
{% for key1,value1 in result.items %}
<script>
    $(function () {
    $('#load{{key1}}').highcharts({
        title: {
            text: {% for keyn,valuen in num.items %}
            	  {% if key1 == keyn %}
            	  '{{valuen}}的负载Load',
            	  {% endif %}
            	  {% endfor %} 
            x: -20 //center
        },
        xAxis: {
            categories:[
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: ' '
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' '
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{% for key2,value2 in value1.items %}
        		{% for key3,value3 in value2.items %}
        		 {
            name: '{{key3}}',
            data: [
            	{% for data in value3 %}
            	{{data}},
            	{% endfor %}
            	]
        	},
        	{% endfor %}
			{% endfor %}
            ]
    });
});
  </script>
  
  {% endfor %}
  {% endif %}
  
  {% if type == 'cpu' and x %}
  {% for key1,value1 in result.items %}
   <script>
    $(function () {
    $('#cpu{{key1}}').highcharts({
        title: {
            text: {% for keyn,valuen in num.items %}
            	  {% if key1 == keyn %}
            	  '{{valuen}}的处理器CPU',
            	  {% endif %}
            	  {% endfor %} 
            x: -20 //center
        },
        xAxis: {
            categories:[
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: ' '
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' '
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{% for key2,value2 in value1.items %}
                 {% for key3,value3 in value2.items %}
                 {
            		name: '{{key3}}',
            		data: [
            		{% for data in value3 %}
            		{{data}},
           			 {% endfor %}
           			 ]
        		},
                 {% endfor %}
                 {% endfor %}
                 ]
    });
});
  </script>
  {% endfor %}
  {% endif %}
  
  {% if type == 'mem' and x %}
  {% for key1,value1 in result.items %}
   <script>
$(function () {
    $('#mem{{key1}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: {% for keyn,valuen in num.items %}
            	  {% if key1 == keyn %}
            	  '{{valuen}}的内存Mem',
            	  {% endif %}
            	  {% endfor %} 
        },
        xAxis: {
            categories:[
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '百分比/单位GB'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
            series: [{% for key2,value2 in value1.items %}
                 {% for key3,value3 in value2.items %}
                 {
            		name: '{{key3}}',
            		data: [
            		{% for data in value3 %}
            		{{data}},
           			 {% endfor %}
           			 ]
        		},
                 {% endfor %}
                 {% endfor %}
                 ]
    });
});				
</script> 
  {% endfor %}
  {% endif %}
  {% if type == 'disk' and x %}
  {% for key1,value1 in result.items %} 
  {% for key2,value2 in value1.items %}
  {% for key3,value3 in value2.items %} 
  <script>
$(function () {
    $('#disk{{key1}}-{{key3}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: {% for keyn,valuen in num.items %}{% if key1 == keyn %}'{{valuen}}的分区：{% endif %}{% endfor %}{% for keyn1,valuen1 in numm.items %}{% if key1 == keyn1 %}{% for keyn2,valuen2 in valuen1.items %}{% if key3 == keyn2 %}{{valuen2}}'{% endif %}{% endfor %}{% endif %}{% endfor %},	
        },
        xAxis: {
            categories: [
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '百分比/单位GB'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
            series: [{% for key4,value4 in value3.items %}{
            name: '{{key4}}',
            data: [{%for data in value4 %}
            		{{data}},
            		{% endfor %}
            	]
        },
        {% endfor %}
         ]
    });
});				
</script> 
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% if type == 'io' and x %}
  {% for key1,value1 in result.items %} 
  {% for key2,value2 in value1.items %}
  {% for key3,value3 in value2.items %} 
  <script>
$(function () {
    $('#io{{key1}}-{{key3}}').highcharts({
        title: {
            text:  {% for keyn,valuen in num.items %}{% if key1 == keyn %}'{{valuen}}的设备：{% endif %}{% endfor %}{% for keyn1,valuen1 in numm.items %}{% if key1 == keyn1 %}{% for keyn2,valuen2 in valuen1.items %}{% if key3 == keyn2 %}{{valuen2}}'{% endif %}{% endfor %}{% endif %}{% endfor %},
            x: -20 //center
        },
        xAxis: {
            categories: [
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: '百分比 (%)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '%'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{% for key4,value4 in value3.items %}
        {
            name: '{{key4}}',
            data: [{% for data in value4 %}
            		{{data}},
            		{% endfor %}
            	]
        },
        {% endfor %}]
    });
});
</script>
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% endif %}
  
  {% if type == 'network' and x%}
  {% for key1,value1 in result.items %} 
  {% for key2,value2 in value1.items %}
  {% for key3,value3 in value2.items %} 
 <script>
$(function () {
    $('#net{{key1}}-{{key3}}').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: {% for keyn,valuen in num.items %}{% if key1 == keyn %}'{{valuen}}的网卡：{% endif %}{% endfor %}{% for keyn1,valuen1 in numm.items %}{% if key1 == keyn1 %}{% for keyn2,valuen2 in valuen1.items %}{% if key3 == keyn2 %}{{valuen2}}'{% endif %}{% endfor %}{% endif %}{% endfor %},
        },
        xAxis: {
            categories: [
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: '网路流量(KB)'
            },
            labels: {
                formatter: function() {
                    return this.value  +'K';
                }
            }
        },
        tooltip: {
        	valueSuffix: 'KB'
            
        },
        
        series: [{% for key4,value4 in value3.items %}{
            name: '{{key4}}',
            data:[{% for data in value4 %}
            		{{data}},
            		{% endfor %}
            	]
        },
		{% endfor %}]
    });
});   				
</script>
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% endif %}
{% endblock %}
{% block group_act %}class="active" {% endblock %}
{% block content %}
<legend>{{group_name}}组{{t}}小时内{{type}}监控图<button class="btn btn-mini" type="button" onclick="location='{% url 'group_monitor' %}'">返回</button></legend>
<label>
							<button class="btn btn-primary" type="button" onclick="location='{% url 'group_monitor_view' id t 'load' %}'">负载</button>
							<button class="btn btn-primary" type="button" onclick="location='{% url 'group_monitor_view' id t 'cpu' %}'">CPU</button>
							<button class="btn btn-primary" type="button" onclick="location='{% url 'group_monitor_view' id t 'mem' %}'">内存</button>
							<button class="btn btn-primary" type="button" onclick="location='{% url 'group_monitor_view' id t 'disk' %}'">磁盘</button>
							<button class="btn btn-primary" type="button" onclick="location='{% url 'group_monitor_view' id t 'io' %}'">IO</button>
							<button class="btn btn-primary" type="button" onclick="location='{% url 'group_monitor_view' id t 'network' %}'">网络</button
</label>
 <label style="text-align:right"><button class="btn btn-primary" type="button" onclick="location='{% url 'group_monitor_view' id 1 type %}'">1小时</button><button class="btn btn-primary" type="button" onclick="location='{% url 'group_monitor_view' id 6 type %}'">6小时</button><button class="btn btn-primary" type="button" onclick="location='{% url 'group_monitor_view' id 24 type %}'">24小时</button></label>
  {% if type == 'load' %}
  <legend>负载</legend><br /><br /> 
  {% for key1 in result.keys %}
  <div id="load{{key1}}" style="min-width:600px;height:400px"></div>
  <br>
  <br>
  {% endfor %}
  {% endif %}
  
  {% if type == 'cpu' %}
  <legend>处理器</legend><br /><br /> 
  {% for key1 in result.keys %}
  <div id="cpu{{key1}}" style="min-width:600px;height:400px"></div>
  <br>
  <br>
  {% endfor %}
  {% endif %}
  
  {% if type == 'mem' %}
  <legend>处理器</legend><br /><br /> 
  {% for key1 in result.keys %}
  <div id="mem{{key1}}" style="min-width:600px;height:400px"></div>
  <br>
  <br>
  {% endfor %}
  {% endif %}
  
  {% if type == 'disk' %}
  <legend>磁盘</legend><br /><br /> 
  {% for key1,value1 in result.items %}
  {% for key2,value2 in value1.items %}
  {% for key3 in value2.keys %}
  <div id="disk{{key1}}-{{key3}}" style="min-width:600px;height:400px"></div>
  <br>
  <br>
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% endif %}
  
  {% if type == 'io' %}
  <legend>IO</legend><br /><br /> 
  {% for key1,value1 in result.items %}
  {% for key2,value2 in value1.items %}
  {% for key3 in value2.keys %}
  <div id="io{{key1}}-{{key3}}" style="min-width:600px;height:400px"></div>
  <br>
  <br>
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% endif %}
  
    {% if type == 'network' %}
  <legend>网络</legend><br /><br /> 
  {% for key1,value1 in result.items %}
  {% for key2,value2 in value1.items %}
  {% for key3 in value2.keys %}
  <div id="net{{key1}}-{{key3}}" style="min-width:600px;height:400px"></div>
  <br>
  <br>
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% endif %}
  
{% endblock %}