{% extends 'monitor.html' %}
{% block group_act %}class="active" {% endblock %}
{% block content %}
<table class="table">
				<thead>
					<tr>
						<th>
							服务器组
						</th>
						<th>
							服务器组员
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				{% for group in group_list %}
					<tr class="success">
						<td>
							{{group.g_name}}
						</td>
						<td>
						{% for server in group.server_set.all %}
							{{server.s_ip}}<br>
					    {% endfor %}
						</td>
						<td>
							<button class="btn btn-mini btn-primary" type="button" onclick="location='{% url 'group_monitor_view' group.id 1 'load' %}'">查看负载</button>
							<button class="btn btn-mini btn-primary" type="button" onclick="location='{% url 'group_monitor_view' group.id 1 'cpu' %}'">查看CPU</button>
							<button class="btn btn-mini btn-primary" type="button" onclick="location='{% url 'group_monitor_view' group.id 1 'mem' %}'">查看内存</button>
							<button class="btn btn-mini btn-primary" type="button" onclick="location='{% url 'group_monitor_view' group.id 1 'disk' %}'">查看磁盘</button>
							<button class="btn btn-mini btn-primary" type="button" onclick="location='{% url 'group_monitor_view' group.id 1 'io' %}'">查看IO</button>
							<button class="btn btn-mini btn-primary" type="button" onclick="location='{% url 'group_monitor_view' group.id 1 'network' %}'">查看网络</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<div class="pagination pagination-centered pagination-small">
				<ul>
				{% if group_list.has_previous %}
					<li>
						<a href="?page={{group_list.previous_page_number}}">上一页</a>
					</li>
				{% endif %}
					<li>
						<a href="#">第{{group_list.number}}页 总共{{group_list.paginator.num_pages}}页</a>
					</li>
				{% if group_list.has_next %}
					<li>
						<a href="?page={{group_list.next_page_number}}">下一页</a>
					</li>
				{% endif %}
				</ul>
			</div>
{% endblock%}				
