{% extends 'config.html' %}
{% block configaction_act %}class="active"{% endblock%}
{% block content %}
<legend>{{groconf_name}}的定时任务日志<button class="btn btn-mini" type="button" onclick="location='{% url 'group_configure_manage' group_id %}' ">返回</button></legend>
<label style="text-align:right"><button class="btn btn-primary" type="button" onclick="location='{% url 'group_configure_time_log_delall' id %}' ">一键全清除</button></label>
			<table class="table">
				<thead>
					<tr>
						<th>
							日志列表
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				{% for log in log_list %}
					<tr class="success">
						<td>
							{{log}}
						</td>
						<td>
							<button type="button" class="btn btn-primary btn-mini" onclick="location='{%url 'group_configure_time_log_open' id log %}'">查看</button><button type="button" class="btn btn-primary btn-mini" onclick="location='{%url 'group_configure_time_log_del' id log %}'">删除</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="pagination pagination-centered pagination-small">
				<ul>
				{% if log_list.has_previous %}
					<li>
						<a href="?page={{log_list.previous_page_number}}">上一页</a>
					</li>
				{% endif %}
					<li>
						<a href="#">第{{log_list.number}}页 总共{{log_list.paginator.num_pages}}页</a>
					</li>
				{% if log_list.has_next %}
					<li>
						<a href="?page={{log_list.next_page_number}}">下一页</a>
					</li>
				{% endif %}
				</ul>
			</div>
{% endblock %}