{% extends 'base.html' %}
{% block infra_act %}class="active"{% endblock%}
{% block nav %}
<ul class="nav nav-pills">
				<li {% block server_act %}{% endblock%}>
					<a href="{% url 'server' %}">服务器</a>
				</li>
				<li {% block group_act %}{% endblock%}>
					<a href="{% url 'group' %}">服务器组</a>
				</li>
				<li {% block hardware_act %}{% endblock%}>
					<a href="{% url 'hardware' %}">服务器硬件信息</a>
				</li>
				<li {% block software_act %}{% endblock%}>
					<a href="{% url 'software' %}">服务器软件信息</a>
				</li>
			</ul> 
{% block content %}
{% endblock%}	
{% endblock %}			
