{% extends 'monitor.html' %}
{% block head %}
<script src="//cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/highcharts/4.1.9/highcharts.js"></script>
<script src="//cdn.bootcss.com/highcharts/4.1.9/modules/exporting.js"></script>
 <script>
    $(function () {
    $('#load').highcharts({
        title: {
            text: '负载Load',
            x: -20 //center
        },
        xAxis: {
            categories:[
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: ' '
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' '
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '一分钟平均负载',
            data: [
            {% for data in ldavg1 %}
            {{data}},
            {% endfor %}
            ]
        }, {
            name: '五分钟平均负载',
            data: [
            {% for data in ldavg5 %}
            {{data}},
            {% endfor %}
            ]
        }, {
            name: '十分钟平均负载',
            data: [
            {% for data in ldavg10 %}
            {{data}},
            {% endfor %}
            ]
        }]
    });
});
  </script>
  <script>
    $(function () {
    $('#cpu').highcharts({
        title: {
            text: '处理器CPU',
            x: -20 //center
        },
        xAxis: {
            categories:[
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: ' '
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' '
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'user',
            data: [
            {% for data in user %}
            {{data}},
            {% endfor %}
            ]
        }, {
            name: 'nice',
            data: [
            {% for data in nice %}
            {{data}},
            {% endfor %}
            ]
        }, {
            name: 'system',
            data: [
            {% for data in system %}
            {{data}},
            {% endfor %}
            ]
        }, {
            name: 'iowait',
            data: [
            {% for data in iowait %}
            {{data}},
            {% endfor %}
            ]
        }, {
            name: 'steal',
            data: [
            {% for data in steal %}
            {{data}},
            {% endfor %}
            ]
        }, {
            name: 'idle',
            data: [
            {% for data in idle %}
            {{data}},
            {% endfor %}
            ]
        }]
    });
});
  </script>
  <script>
$(function () {
    $('#mem').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '内存Mem'
        },
        xAxis: {
            categories:[
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '百分比/单位GB'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
            series: [{
            name: '未用',
            data: [
            {% for data in kbmemfree %}
            {{data}},
            {% endfor %}
            ]
        }, {
            name: '已用',
            data: [
            {% for data in kbmemused %}
            {{data}},
            {% endfor %}
            ]
        }]
    });
});				
</script> 


{% for key1,value1 in mount.items %}	
<script>

$(function () {
    $('#disk{{key1}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: {% for keyn,valuen in num.items %}
            		{% if key1 == keyn %}
            			'分区：{{valuen}}'
            		{% endif %}
            	{% endfor %}
        },
        xAxis: {
            categories: [
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '百分比/单位GB'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
            series: [{% for key2,value2 in value1.items %}{
            name: '{{key2}}',
            data: [{%for data in value2 %}
            		{{data}},
            		{% endfor %}
            	]
        },
        {% endfor %}
         ]
    });
});	
			
</script> 
{% endfor %} 

{% for key3,value3 in iodev.items %}
<script>
$(function () {
    $('#io{{key3}}').highcharts({
        title: {
            text:  {% for keyn,valuen in num1.items %}
            		{% if key3 == keyn %}
            			'设备：{{valuen}}'
            		{% endif %}
            	{% endfor %},
            x: -20 //center
        },
        xAxis: {
            categories: [
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: '百分比 (%)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '%'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{% for key4,value4 in value3.items %}
        {
            name: '{{key4}}',
            data: [{% for data in value4 %}
            		{{data}},
            		{% endfor %}
            	]
        },
        {% endfor %}]
    });
});
</script>
{% endfor %}
{% for key1,value1 in netdev.items %}
<script>
$(function () {
    $('#net{{key1}}').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: {% for keyn,valuen in num2.items %}
            		{% if key1 == keyn %}
            			'网卡名：{{valuen}}'
            		{% endif %}
            	{% endfor %}
        },
        xAxis: {
            categories: [
            {% for data in x %}
            "{{data|truncatechars:"19"}}",
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: '网路流量(KB)'
            },
            labels: {
                formatter: function() {
                    return this.value  +'K';
                }
            }
        },
        tooltip: {
            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
        },
        
        series: [{% for key2,value2 in value1.items %}{
            name: '{{key2}}',
            data:[{% for data in value2 %}
            		{{data}},
            		{% endfor %}
            	]
        },
		{% endfor %}]
    });
});   				
</script>
{% endfor %}
<style type="text/css">
.backToTop {
 display: none;
 width: 50px;
 line-height: 1.2;
 padding: 5px 0;
 background-color: #0D19FF;
 color: #fff;
 font-size: 20px;
 text-align: center;
 position: fixed;
 _position: absolute;
 right: 80px;
 bottom: 100px;
 _bottom: "auto";
 cursor: pointer;
 opacity: .6;
 filter: Alpha(opacity=60);
}
</style>                                                               				
{% endblock %}
{% block server_act %}class="active" {% endblock %}
{% block content %}
<legend>{{server_ip}}的{{t}}小时内监控图<button class="btn btn-mini" type="button" onclick="location='{% url 'server_monitor' %}'">返回</button></legend>
 <label style="text-align:right"><button class="btn btn-primary" type="button" onclick="location='{% url 'server_monitor_view' id 1 %}'">1小时</button><button class="btn btn-primary" type="button" onclick="location='{% url 'server_monitor_view' id 6 %}'">6小时</button><button class="btn btn-primary" type="button" onclick="location='{% url 'server_monitor_view' id 24 %}'">24小时</button></label>
 
  <legend>负载</legend><br /><br /> 
  <div id="load" style="min-width:600px;height:400px"></div>
  <legend>CPU</legend><br /><br /> 
  <div id="cpu" style="min-width:600px;height:400px"></div>
  <legend>内存</legend><br /><br /> 
  <div id="mem" style="min-width:600px;height:400px"></div>
  <legend>磁盘</legend><br /><br /> 
 {% for key1 in mount.keys %}
  <div id="disk{{key1}}" style="min-width:600px;height:400px"></div>
  {% endfor %}
  <legend>IO</legend><br /><br /> 
  {% for key1 in iodev.keys %}
  <div id="io{{key1}}" style="min-width:600px;height:400px"></div>
  {% endfor %}
  <legend>网络</legend><br /><br />
  {% for key1 in netdev.keys %}
  <div id="net{{key1}}" style="min-width:600px;height:400px"></div>
  {% endfor %}
  <div style="height:2000px;"></div>
<script type="text/javascript">
(function() {
    var $backToTopTxt = "返回顶部", $backToTopEle = $('<div class="backToTop"></div>').appendTo($("body"))
        .text($backToTopTxt).attr("title", $backToTopTxt).click(function() {
            $("html, body").animate({ scrollTop: 0 }, 120);
    }), $backToTopFun = function() {
        var st = $(document).scrollTop(), winh = $(window).height();
        (st > 0)? $backToTopEle.show(): $backToTopEle.hide();
        //IE6下的定位
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };
    $(window).bind("scroll", $backToTopFun);
    $(function() { $backToTopFun(); });
})();
</script>
{% endblock%}				
