{% extends 'config.html' %}
{% block configedit_act %}class="active"{% endblock%}
{% block content %}
<form method="POST" action="/server_configure_edit/{{id}}">
				<fieldset>
					 <legend>配置编辑</legend>
					 <label>配置名称</label> 
                     {{serconf_ser_name}}
					 <br>
					 <label>配置内容</label>
					 {{form.ser_filecontent}}
					 <br>
					 <button type="submit" class="btn btn-primary">保存</button>
					 <button type="button" class="btn" onclick="location='{% url 'server_configure_manage' server_id %}' ">返回</button>
				</fieldset>
			</form>
{% endblock%}				
