<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="text-center">
				欢迎使用LJCMS运维管理系统
			</h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-list">
				<li class="nav-header">
					ljcms系统
				</li>
				<li class="active">
					<a href="#">基础信息</a>
				</li>
				<li>
					<a href="#">配置管理</a>
				</li>
				<li>
					<a href="#">监控</a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">帮助</a>
				</li>
			</ul>
		</div>
		<div class="span6">
			<ul class="nav nav-pills">
				<li class="active">
					<a href="#">服务器配置</a>
				</li>
				<li>
					<a href="#">服务器组配置</a>
				</li>
				<li>
					<a href="#">配置使用文件</a>
				</li>
			</ul><br /><br /><br /> <legend>提示：</legend>
			<p>
				您确定要在192.168.1.12上执行dfds配置吗？
			</p><br /><br /> <button class="btn btn-primary" type="button">确定</button> <button class="btn" type="button">返回</button>
		</div>
		<div class="span4">
			<h3>
				<span>提示</span>
			</h3>
			<p>
				如何如何操作
			</p>
			
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<p class="text-center">
				Power By clj.
			</p>
		</div>
	</div>
</div>