{% extends 'infra.html' %}
{% block server_act %}class="active"{% endblock%}
{% block content %}
<button class="btn btn-primary btn-block" type="button" onclick="location='{% url 'server_add' %}' ">增加服务器</button>
			<table class="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							服务器IP
						</th>
						<th>
							服务器名称
						</th>
						<th>
							服务器组
						</th>
						<th>
							服务器账号
						</th>
						<th>
							服务器密码
						</th>
						<th>
							服务器端口
						</th>
						<th>
						    服务器状态
						</th>
					</tr>
				</thead>
				<tbody> 
				{% for server in server_list %}
					<tr class="success">
						<td>
							{{server.id}}
						</td>
						<td>
							{{server.s_ip}}
						</td>
						<td>
							{{server.s_name}}
						</td>
						<td>
							{% for group in server.s_group.all %}
							{{group}}<br>
							{% endfor %}
						</td>
						<td>
							{{server.s_user}}
						</td>
						<td>
							{{server.s_password}}
						</td>
						<td>
							{{server.s_port}}
						</td>
						<td>
							{{server.s_status}}
						</td>
						<td>
							 <button class="btn btn-primary btn-mini" type="button" onclick="location='/edit/{{server.s_ip}}'">更新</button> <button class="btn btn-primary btn-mini" type="button" onclick="location='/del/{{server.s_ip}}'">删除</button>
						</td>
					</tr>
				{% endfor %}
				
				</tbody>
			</table>
			
			<div class="pagination pagination-centered pagination-small">
				<ul>
				{% if server_list.has_previous %}
					<li>
						<a href="?page={{server_list.previous_page_number}}">上一页</a>
					</li>
				{% endif %}
					<li>
						<a href="#">第{{server_list.number}}页 总共{{server_list.paginator.num_pages}}页</a>
					</li>
				{% if server_list.has_next %}
					<li>
						<a href="?page={{server_list.next_page_number}}">下一页</a>
					</li>
				{% endif %}
				</ul>
			</div>
{% endblock%}				
