{% extends 'config.html' %}
{% block configedit_act %}class="active"{% endblock%}
{% block content %}
 <legend>{{server.s_ip}}的配置管理
 <button class="btn btn-primary btn-mini" type="button" onclick="location='/server_configure_new/{{server.id}}'">新建</button>
 <button class="btn btn-mini" type="button" onclick="location='{% url 'server_configure' %}'">返回</button></legend>
			<table class="table">
				<thead>
					<tr>
						<th>
							配置名称
						</th>
						<th>
							编辑时间
						</th>
						<th>
							文件
						</th>
						<th>
							状态
						</th>
						<th>
							定时
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				{% for server_configure in server_configure_list %}
					<tr class="success">
						<td>
							{{server_configure.ser_name}}
						</td>
						<td>
							{{server_configure.ser_time|date:"Y-n-d H:i:s"}}
						</td>
						<td>
							{{server_configure.ser_path| truncatechars:"20"}}<a href="{{down_path}}{{server_configure.ser_path|cut:upload_path}}" >下载</a>
						</td>
						<td>
							{{server_configure.ser_status}}
						</td>
						<td>
							{% if server_configure.serverconfiguretime.ser_jobstatus == False %}
							                 已关闭
							{% else %}
							               已开启   
							{% endif %}
						</td>
						<td>
							<button class="btn btn-primary btn-mini" type="button" onclick="location='/server_configure_edit/{{server_configure.id}}'">编辑</button>
							<button class="btn btn-primary btn-mini" type="button" onclick="location='/server_configure_del/{{server_configure.id}}'">删除</button>
							<button class="btn btn-primary btn-mini" type="button" onclick="location='/server_configure_action/{{server_configure.id}}'">执行</button>
							<button class="btn btn-primary btn-mini" type="button" onclick="location='/server_configure_time/{{server_configure.id}}'">定时任务</button>
							<button class="btn btn-primary btn-mini" type="button" onclick="location='/server_configure_time_log/{{server_configure.id}}'">任务日志</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="pagination pagination-centered pagination-small">
				<ul>
				{% if server_configure_list.has_previous %}
					<li>
						<a href="?page={{server_configure_list.previous_page_number}}">上一页</a>
					</li>
				{% endif %}
					<li>
						<a href="#">第{{server_configure_list.number}}页 总共{{server_configure_list.paginator.num_pages}}页</a>
					</li>
				{% if server_configure_list.has_next %}
					<li>
						<a href="?page={{server_configure_list.next_page_number}}">下一页</a>
					</li>
				{% endif %}
				</ul>
			</div>
{% endblock %}