{% extends 'infra.html' %}
{% block software_act %}class="active"{% endblock%}
{% block content %}
			<table class="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							服务器IP
						</th>
						<th>
							系统名
						</th>
						<th>
							系统版本
						</th>
						<th>
							内核
						</th>
						<th>
							python版本
						</th>
					</tr>
				</thead>
				<tbody>
				{% for software in software_list %}
					<tr class="success">
						<td>
							{{software.id}}
						</td>
						<td>
							{{software.so_server.s_ip}}
						</td>
						<td>
							{{software.so_servername}}
						</td>
						<td>
							{{software.so_serverrel}}
						</td>
						<td>
							{{software.so_kernel}}
						</td>
						<td>
							{{software.so_python}}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="pagination pagination-centered pagination-small">
				<ul>
				{% if software_list.has_previous %}
					<li>
						<a href="?page={{software_list.previous_page_number}}">上一页</a>
					</li>
				{% endif %}
					<li>
						<a href="#">第{{software_list.number}}页 总共{{software_list.paginator.num_pages}}页</a>
					</li>
				{% if software_list.has_next %}
					<li>
						<a href="?page={{software_list.next_page_number}}">下一页</a>
					</li>
				{% endif %}
				</ul>
			</div>
{% endblock%}				
